<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  # <a class="navbar-brand" href="#"><img src="./railsbook-logo.png" style="width:200px; height:48px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <%# <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> %>
      <%# <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> %>
    </ul>
  </div>


<div class="navfont">
  <% if user_signed_in? %>
    Logged in as <strong class="usernamefont"><%= current_user.username %></strong>
    <br>
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'test' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'test'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'test'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'test'  %>
  <% end %>
</div>
</nav>
<div style="height:70px">hello</div>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <br><br>
    <main role="main" class="container">
  
  
  <%= yield %>
 
</main>
    
  </body>
</html>


